@import "common/foundation/variables";

.link-top-line .vote-count-before-title {
  display: none;
}

.voting-category.list-container {
  @if $use_compact_width == "true" {
    max-width: $small-width;
  }

  margin: 0 auto;

  .posters,
  .views,
  .activity {
    display: none;
  }

  .topic-list-item:not(.non-voting) {
    &.pinned .topic-excerpt {
      margin-left: 65px;
    }

    td.main-link {
      display: flex;
      flex-direction: column;
      min-height: 52px;
    }

    .link-top-line {
      display: flex;
    }

    .title.raw-link.raw-topic-link {
      display: block; // prevents wrapping on top of vote count
      padding: 0;
      margin-left: 65px;
    }

    .discourse-tags {
      margin-left: 65px;

      // Hide commma
      .discourse-tag:after {
        display: none;
      }
      .list-vote-count {
        display: none;
      }
    }

    .vote-count-before-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: $primary;
      padding: 10px 0;
      border: 1px solid $primary-low;
      border-radius: 5px;
      text-align: center;
      height: 30px;
      width: 45px;
      position: absolute;

      .svg-icon {
        font-size: $font-up-6;
        color: $primary-low;
        display: flex;
        align-self: center;
        height: 40px;
        margin: -10px;
      }

      &[data-user-voted="true"] .svg-icon {
        color: $tertiary;
      }
    }

    .topic-statuses {
      margin-left: 65px;
      & + .title.raw-link.raw-topic-link {
        margin: 0;
      }
    }
  }
}
